$font-modesto-condensed: "Modesto Condensed", "Palatino Linotype", serif;
$border-style-groove: 2px groove #eeede0;
$border-style-solid:  1px solid #c9c7b8;
$color-1: #7a7971;
$color-2: #191813;
$color-3: #4b4a44;
$color-red: #ff0000;
$color-blue: #0000ff;
