<form class="flexcol" autocomplete="off">
  <section class="content">
        <div class="form-group">
          <label>Submit your bug report to <a href="https://github.com/johnnolan/encounter-stats/issues/new?assignees=johnnolan&labels=bug&template=bug_report.md&title=%5BBUG%5D">Github Issues</a> with the following text in this box. It includes a list of your modules and core foundry version to allow better debugging.</label>
          <textarea name="debug" data-dtype="String" rows="20">{{debug}}</textarea>
        </div>
  </section>
</form>