<form class="flexcol" autocomplete="off">
  <section class="content">
    <div class="form-group">
      <label>Export Campaign Statistics</label>
      <button type="button" name="encounter-stats-export-statistics" id="encounter-stats-export-statistics">
        <i class="fas fa-dice-d20"></i> Export Statistics
      </button>
    </div>
    <div class="form-group">
      <label>Import Campaign Statistics</label>
      <button type="button" name="encounter-stats-import-statistics" id="encounter-stats-import-statistics">
        <i class="fas fa-dice-d20"></i> Import Statistics
      </button>
    </div>
    <div class="form-group">
      <label>Reset Campaign Statistics (DANGER!)</label>
      <button type="button" name="encounter-stats-delete-statistics" id="encounter-stats-delete-statistics">
        <i class="fas fa-dice-d20"></i> Delete Statistics
      </button>
    </div>
  </section>
</form>
