<form class="flexcol" autocomplete="off">
  <section class="content">
    <div class="form-group">
      <label>{{localize "EncounterStats.Settings.ExportCampaignStats"}}</label>
      <button type="button" name="encounter-stats-export-statistics" id="encounter-stats-export-statistics">
        <em class="fas fa-file-export"></em> {{localize "EncounterStats.Settings.ExportStatistics"}}
      </button>
    </div>
    <div class="form-group">
      <label>{{localize "EncounterStats.Settings.ImportCampaignStatistics"}}</label>
      <button type="button" name="encounter-stats-import-statistics" id="encounter-stats-import-statistics">
        <em class="fas fa-file-import"></em> {{localize "EncounterStats.Settings.ImportStatistics"}}
      </button>
    </div>
    <div class="form-group">
      <label>{{localize "EncounterStats.Settings.DeleteCampaignStatistics"}}</label>
      <button type="button" name="encounter-stats-delete-statistics" id="encounter-stats-delete-statistics">
        <em class="fas fa-trash"></em> {{localize "EncounterStats.Settings.DeleteStatistics"}}
      </button>
    </div>
  </section>
</form>
