<form class="flexcol" autocomplete="off">
  <section class="content">
    <div class="form-group">
      <label>{{localize "EncounterStats.Settings.ExportCampaignStats"}}</label>
      <button type="button" name="encounter-stats-export-statistics" id="encounter-stats-export-statistics">
        <i class="fas fa-dice-d20"></i> {{localize "EncounterStats.Settings.ExportStatistics"}}
      </button>
    </div>
    <div class="form-group">
      <label>{{localize "EncounterStats.Settings.ImportCampaignStatistics"}}</label>
      <button type="button" name="encounter-stats-import-statistics" id="encounter-stats-import-statistics">
        <i class="fas fa-dice-d20"></i> {{localize "EncounterStats.Settings.ImportStatistics"}}
      </button>
    </div>
    <div class="form-group">
      <label>{{localize "EncounterStats.Settings.DeleteCampaignStatistics"}}</label>
      <button type="button" name="encounter-stats-delete-statistics" id="encounter-stats-delete-statistics">
        <i class="fas fa-dice-d20"></i> {{localize "EncounterStats.Settings.DeleteStatistics"}}
      </button>
    </div>
  </section>
</form>
